<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebGoal</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jogosdata">
                <span class="oi oi-calendar" aria-hidden="true"></span> Jogos por Data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="status">
                <span class="oi oi-badge" aria-hidden="true"></span> Jogos por Status
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ligas" Match="NavLinkMatch.All">
                <span class="oi oi-badge" aria-hidden="true"></span> Classificações Ligas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scorers">
                <span class="oi oi-badge" aria-hidden="true"></span> Top 10 Marcadores
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
